#overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgb(79, 77, 77);
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 100;
}

#popup {
  display: none;
  position: absolute;
  top: 10%;
  left: 20%;
  background: rgb(57, 55, 55);
  width: 60%;
  height: 80%;
  z-index: 200;
  overflow-y: scroll;
}

#popupclose {
  float: right;
  padding: 10px;
  cursor: pointer;
}

.popupcontent {
  padding: 30px;
}

.movie-popup-title {
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.movie-popup-info {
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.now-playing {
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 40px 0px 20px 0px;
  font-weight: bold;
  font-size: 50px;
}

#close {
  border-style: none;
  font-weight: bolder;
  font-family: sans-serif;
  width: 50px;
  height: 40px;
  background-color: #536b6d;
  font-size: large;
  margin-left: 5px;
  color: white;
  padding: 10px;
}

body {
  background-color: #212121;
  color: #4db1bc;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}

.movie-backdrop {
  width: 100%;
}

h1 {
  margin: 0;
  padding-bottom: 6rem;
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 15rem;
  text-transform: uppercase;
  animation: glow 2s ease-in-out infinite alternate;
  text-align: center;
  color: #4db1bc;
  width: 100%;
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px #2d9da9;
  }
  to {
    text-shadow: 0 0 40px #34b3c1, 0 0 10px #4dbbc7;
  }
}

.material-icons {
  color: white;
  width: 35px;
}
.movie-votes {
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  width: 100%;
  font-size: 20px;
}

.movie-title {
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  width: 100%;
  font-weight: bold;
  font-size: large;
}

.movie-poster {
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 2px black, 0 0 25px #2d9da9, 0 0 5px #2d9da9;
}

.hidden {
  display: none;
}

#movies-grid {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border-color: antiquewhite;
  border-width: 5px;
  grid-gap: 40px;
  margin: 10px 40px 0px 40px;
  align-items: center;
  justify-content: center;
  align-content: center;
}

label {
  color: white;
  font-size: large;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: bold;
  padding-top: 10px;
}

.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.form,
form {
  width: 100%;
  display: flex;
  align-items: center;
  align-self: center;
  flex-direction: column;
  justify-content: center;
}

#clicker {
  border-style: none;
  font-weight: bolder;
  font-family: sans-serif;
  width: 110px;
  background-color: #2d9da9;
  font-size: large;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  padding: 10px;
}

#search-input {
  border-style: none;
  font-weight: bolder;
  font-family: sans-serif;
  width: 210px;
  font-size: large;
  padding: 10px;
  margin-left: 5px;
  margin-right: 10px;
}

#load-more-movies-btn,
#back-to-top {
  border-style: none;
  font-weight: bolder;
  font-family: sans-serif;
  width: 300px;
  font-size: large;
  background-color: #2d9da9;
  color: white;
  padding: 10px;
  margin: 10px 0px 5px 0px;
}

.form-content {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
